<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leung.mapper.UserMapper">

    <resultMap id="pageUser" type="com.leung.entity.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="createTime" property="createTime"/>
        <result column="avatarUrl" property="avatarUrl"/>
        <result column="role" property="role"/>
        <collection property="courses" javaType="java.util.ArrayList" ofType="com.leung.entity.Course">
            <result column="teacherCourseName" property="name"/>
            <result column="teacherScore" property="score"/>
            <result column="teacherTimes" property="times"/>
        </collection>
        <collection property="stuCourses" javaType="java.util.ArrayList" ofType="com.leung.entity.Course">
            <result column="stuCourseName" property="name"/>
            <result column="stuScore" property="score"/>
            <result column="stuTimes" property="times"/>
        </collection>
    </resultMap>

    <select id="findPage" resultMap="pageUser">
        select sys_user.*, sc.name as stuCourseName, tc.name as teacherCourseName,tc.score as teacherScore,
        sc.score as stuScore,sc.times as stuTimes,tc.times as teacherTimes
        from sys_user
        left join stu_course
        on sys_user.id = stu_course.student_id
        left join course sc
        on stu_course.course_id = sc.id
        left join course tc
        on sys_user.id = tc.teacher_id


        <where>
            <if test="name!=null and name!=''">
                and sys_user.username like concat('%',#{name},'%')
            </if>
            <if test="email!=null and email!=''">
                and sys_user.email like concat('%',#{email},'%')
            </if>
            <if test="address!=null and address!=''">
                and sys_user.address like concat('%',#{address},'%')
            </if>
        </where>
        order by sys_user.id desc
    </select>

</mapper>
